/*--- FIM DO MENU----*/
.banner {
  height: 100vh;
  width: 100%;
  background-image: url("../images/au01.jpg");
  background-position: center;

  /* Center the image */
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.banner-content {
  display: flex;
  flex-direction: column;
  padding: 1% 5%;

  color: white;
  align-items: flex-end;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 50px 0 0 50px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.banner-content h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 58px;
  line-height: 84px;

  color: var(--base-beige);
}

.banner-content span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 28px;

  color: var(--base-brown);
}
/*---- CARDS ----*/

.container .card {
  max-width: 300px;
  height: 215px;
  margin: 20px 10px;
  padding: 20px 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
  text-overflow: ellipsis;
}

.container .card:hover {
  height: 450px;
}

.container .card .imgContainer {
  position: relative;
  width: 250px;
  height: 250px;
  top: -50px;
  left: 10px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
.container .card .imgContainer img {
  max-width: 100%;
  border-radius: 4px;
}
.container .card .content {
  position: relative;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease-in-out;
  text-overflow: ellipsis;
}
.container .card:hover .content {
  visibility: visible;
  opacity: 1;
  transition-delay: 0.3s;
  text-overflow: ellipsis;
}

.container h2 {
  font-family: "Roboto";
  font-weight: 16px;
  color: #734230;
}

h1 {
  font-family: "Roboto";
  margin-bottom: 0.5rem;
  font-weight: 900;
  line-height: 84px;
  margin-block-start: 0;
  margin-block-end: 0;
  color: #734230;
  padding: 60px 150px;
}
