@import url(var.css);
@import url(./components/menu.css);

.text-brown {
  color: var(--base-brown);
}

.text-beige {
  color: var(--base-beige);
}

.cursor-default:hover {
  cursor:default;
}

.text-custom {
  padding: 0 !important;
  font-size: 12px;
}

.button-custom button {
  padding: 15px 60px 15px 60px;
  background-color: var(--base-brown) !important;
  border: none !important;
}

.button-custom button:hover {
  background-color: #8a5e4e !important;
}

.link-inherit a{
  color: inherit !important;
}

.link-inherit a:hover {
  color: var(--base-beige) !important;
}

.icon-custom{
  color: black !important;
  font-size: 30px;
}

.icon-custom:hover {
  color: var(--base-beige) !important;
  transform: scale(1.1);
}

@media (max-width: 260px) {
  .button-custom button {
    padding: 20px !important;
  }
}
