.banner {
  height: 100vh;
  width: 100%;
  max-width: 100%;
  background-image: url("../images/bgimg.jpg");
  background-position: center;

  /* Center the image */
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.banner-content {
  display: flex;
  flex-direction: column;
  padding: 1% 5%;

  color: white;
  align-items: flex-end;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 50px 0 0 50px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.parallax-content {
  display: flex;
  flex-direction: column;
  padding: 1% 5%;

  color: white;
  align-items: flex-end;
  background-color: #fff;
}

.parallax-content h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 58px;
  line-height: 84px;

  color: var(--base-brown);
}

.banner-content h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 58px;
  line-height: 84px;

  color: var(--base-beige);
}

.banner-content span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 28px;

  color: var(--base-brown);
}

/* Content */
.content {
  padding: 5px 50px;
}

.card-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.card-box .card-item {
  width: 33.333%;
  height: 500px;
  border: none;
  display: flex;
  flex-wrap: wrap;
  padding: 1%;
}

.card-item .card-img1 {
  background-image: url("../images/paises/amsterdam.png");
}

.card-item .card-img2 {
  background-image: url("../images/paises/australia.png");
}

.card-item .card-img3 {
  background-image: url("../images/paises/canada.png");
}

.card-item .card-img4 {
  background-image: url("../images/paises/emiradosArabes.png");
}

.card-item .card-img5 {
  background-image: url("../images/paises/inglaterra.png");
}

.card-item .card-img6 {
  background-image: url("../images/paises/irlanda.png");
}

.card-item .card-content {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: relative;
  background-position: center;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  padding-bottom: 50px;
}

.card-item .card-content .content-details {
  width: 80%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 12px 0 0 12px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 2%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 60px;
}

.card-item .card-content .content-details a {
  width: auto;
  position: absolute;
  right: 8px;
  bottom: 8px;
  display: flex;
  white-space: nowrap;
  text-align: center;
}

.icon-list img {
  margin-right: 8px;
}

@media screen and (max-width: 1000px) {
  .card-box .card-item {
    width: 50%;
  }
}

@media screen and (max-width: 700px) {
  .card-box .card-item {
    width: 100%;
  }

  .banner-content {
    padding: 4%;
    width: 100%;
    border-radius: 0px;
    text-align: center !important;
    justify-content: center !important;
    align-items: center;
  }

  .banner-content h2 {
    font-size: 3rem;
  }

  .banner-content span {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 767px) {
  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 100px;
  }
}

/* Parallax */
#parallax-world-of-ugg .title {
  background: white;
  padding: 60px;
  margin: 0 auto;
  text-align: center;
}

#parallax-world-of-ugg .title h1 {
  font-size: 35px;
  letter-spacing: 8px;
}

#parallax-world-of-ugg .block {
  background: white;
  padding: 60px;
  width: 820px;
  margin: 0 auto;
  text-align: justify;
}

#parallax-world-of-ugg .block-gray {
  background: #f2f2f2;
  padding: 60px;
}

#parallax-world-of-ugg .section-overlay-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
}

#parallax-world-of-ugg .parallax-one {
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 30px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(../images/parallax/parallax-russia.jpg);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

#parallax-world-of-ugg .parallax-two {
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 30px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(../images/parallax/parallax-tokyo.jpg);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#parallax-world-of-ugg .parallax-three {
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 30px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(../images/parallax/parallax-toronto.jpg);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#parallax-world-of-ugg .line-break {
  border-bottom: 1px solid black;
  width: 150px;
  margin: 0 auto;
}

/* Media Queries */
/**************************/
@media screen and (max-width: 959px) and (min-width: 768px) {
  #parallax-world-of-ugg .block {
    padding: 40px;
    width: 620px;
  }
}
@media screen and (max-width: 767px) {
  #parallax-world-of-ugg .block {
    padding: 30px;
    width: 420px;
  }
  #parallax-world-of-ugg h2 {
    font-size: 30px;
  }
  #parallax-world-of-ugg .block {
    padding: 30px;
  }
  #parallax-world-of-ugg .parallax-one,
  #parallax-world-of-ugg .parallax-two,
  #parallax-world-of-ugg .parallax-three {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 479px) {
  #parallax-world-of-ugg .block {
    padding: 30px 15px;
    width: 290px;
  }
}
