.section-title {
  margin: 20px;
  margin-top: 80px;
  font-size: 0.5rem;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  position: relative;
  text-align: left;
}

.card-content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.card-item1 {
  width: 33.33%;
  min-height: 350px !important;
  height: 70vh;
}

.card-item1 .item {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-end;
  border-radius: 12px;

  height: 100%;
  width: 100%;
  transform: scale(0.95);

  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.item-img img {
  width: 100%;
  height: auto;
}

.item-content {
  height: 25%;
  position: absolute;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.86);
  border-radius: 12px 12px 0 0;
  padding: 5px 15px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-item1 .item-1 {
  background-image: url(../images/paises/amsterdam.png);
}

.card-item1 .item-2 {
  background-image: url(../images/paises/australia.png);
}

.card-item1 .item-3 {
  background-image: url(../images/paises/canada.png);
}

.card-item1 .item-4 {
  background-image: url(../images/paises/emiradosArabes.png);
}

.card-item1 .item-5 {
  background-image: url(../images/paises/inglaterra.png);
}

.card-item1 .item-6 {
  background-image: url(../images/paises/irlanda.png);
}

.card-item1 .item-7 {
  background-image: url(../images/paises/brasil.jpg);
}

.card-item1 .item-8 {
  background-image: url(../images/parallax/parallax-tokyo.jpg);
}

.card-item1 .item-9 {
  background-image: url(../images/parallax/parallax-toronto.jpg);
}

.card-item1 .item-10 {
  background-image: url(../images/parallax/parallax-russia.jpg);
}

.item {
  transition: all 0.4s ease;
}

.item:hover {
  transform: scale(0.97);
  transition: 0.5s;

  animation-name: card-hover;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 0.4s;
}

@media screen and (max-width: 1200px) {
  .card-item1 {
    width: 50%;
    min-height: 300px !important;
    height: 50vh;
  }

  .section-title {
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  .card-item1 {
    width: 100%;
    min-height: 350px !important;
    height: 70vh;
  }
}
